{% extends "mainApp/wrapper.html" %}
{% load staticfiles %}

{% block content %}
<div class="container fon">
 <h1><font color="white"><br>Диплом<br><br></font></h1>
</div>
<br><br>

<div>
    <a href="#" class="center"><img src="{% static 'mainApp/image/portfolio2.jpg' %}" style='max-width:100%; height:auto;'></a>
    <br>
</div>
<div>
    <a href="#" class="center"><img src="{% static 'mainApp/image/portfolio3.jpg' %}" style='max-width:100%; height:auto;'></a>
    <br>
</div>
<br>
<a href="/portfolio" type="button" class="btn btn-outline-primary">Назад</a>
<br><hr>

<br><br><br>

{% endblock %}