{% extends "mainApp/wrapper.html" %}
{% load staticfiles %}

{% block content %}
<div class="container fon">
 <h1><font color="white"><br>Диплом<br><br></font></h1>
</div>
<br><br>

<div class="row">

    <div class="col-12 center">
       <img src="{% static 'mainApp/image/portfolio2.jpg' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
    </div>
</div>
<br>
<div class="row">
    <div class="col-12 center">
       <img src="{% static 'mainApp/image/portfolio3.jpg' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
    </div>
</div>
<br>
<a href="/portfolio" type="button" class="btn btn-outline-primary">Назад</a>
<br><hr>

<br><br><br>


{% endblock %}