{% extends "mainApp/wrapper.html" %}
{% load staticfiles %}

{% block content %}

<div class="container fon">
 <h1><font color="white"><br>Лингвистическая мозаика<br><br></font></h1>
</div>
<br>
<div>

    <h5 class="text-justify padding">Мой сайт создан для детей, родителей, учителей и не только.
        Здесь Вы найдете методические материалы, советы по изучению языка, ссылки на полезные источники и еще
        много необходимого и интересного материала.
        Искренне надеюсь, что для каждого из вас здесь найдется полезная информация.</h5><br>

    <div class="row padding">

    <div class="col-md-2 center">

       <img src="{% static 'mainApp/image/1v.jpg' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
       <div class="text-center"><p>Великобритания</p></div><br>
       <img src="{% static 'mainApp/image/2a.png' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
       <div class="text-center"><p>Австралия</p></div><br>
       <img src="{% static 'mainApp/image/3z.png' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
       <div class="text-center"><p>Новая Зеландия</p></div><br>
       <img src="{% static 'mainApp/image/4k.png' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
       <div class="text-center"><p>Кения</p></div><br>

    </div>
    <div class="col-md-8">
        <div class="padding">
        <h7>Зачем нужно знать английский язык? И почему он так популярен?</h7><br><br>
        <p class="text-justify">Английский язык распространен во всем мире, это родной язык в таких странах,
            как США, Великобритания, Австралия, Канада, и Новая Зеландия, а также является официальным в таких странах, как Индия, Пакистан, Кения
            и многих других. Он также используется в качестве официального
            языка в более чем 70 странах мира, на нем пишут и говорят больше, чем на любом другом языке. Английский стал своего
            рода международным языком, его изучение является совершенно естественным в планах современного
            человека, который хочет преуспеть в жизни. Сегодня трудно представить себе человека, который не знал бы на
            английском хотя бы несколько фраз.</p>
        <p class="text-justify">Если Вы хотите развиваться в ногу со временем, то без английского не обойтись.
            Английский является основным языком во многих сферах, в том числе в международной торговле, бизнесе, туризме,
            политике, интернете и не только.
            На английском языке говорит более 1 миллиарда человек. Вы можете легко путешествовать, не имея проблем с пониманием речи в других странах.
        Знание английского - это Ваше достоинство при поиске работы. Это Ваш помощник при продвижении по карьерной лестнице.</p>
        <p class="text-justify">Кроме того, английский язык может стать неплохим хобби. Ведь так приятно что-то прочитать на чужом языке,
        понять культуру чужой страны или просто разобраться, о чем идет речь в любимой песне. Английский язык доминирует в медийном пространстве.
            Сколько фильмов, сериалов, песен на английском языке. Основная масса информации (текст, видео) выложена на английском языке,
        и лишь некоторая часть переводится на русский спустя некоторое время с потерей смысла при переводе.</p>
        <br>



        </div>
    </div>
    <div class="col-md-2 center">

       <img src="{% static 'mainApp/image/5ss.png' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
       <div class="text-center"><p>США</p></div><br>
       <img src="{% static 'mainApp/image/6k.png' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
       <div class="text-center"><p>Канада</p></div><br>
       <img src="{% static 'mainApp/image/7i.png' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
       <div class="text-center"><p>Индия</p></div><br>
       <img src="{% static 'mainApp/image/8p.png' %}" style='max-width:100%; height:auto; display:block' alt="Responsive image" class="img-responsive img-rounded">
       <div class="text-center"><p>Пакистан</p></div><br>

    </div>
</div>
</div><hr>

<div class="container">
  <div class="text-center">
    <a href="#" class="center"><img src="{% static 'mainApp/image/eng.png' %}" style='max-width:40%; height:auto;' class="center"></a>
  </div>
    <br>
</div>
<div class="row padding">
    <div class="col-md-6">
        <div class="padding">
        <p class="text-justify">«Что может быть честнее и благороднее, как учить других тому, что сам наилучшим образом знаешь...» (М. Квинтилиан)</p><hr>
        <p class="text-justify">«Учитель, образ его мыслей, - вот что самое главное во всяком обучении и воспитании...» (А. Дистервег)</p><hr>
        <p>… Вы знаете, мне по-прежнему верится,<br>Что если останется жить Земля,<br>Высшим достоинством человечества<br>
            Станут когда-нибудь учителя!<br>Не на словах, а по вещей традиции,<br>Которая завтрашней жизни под стать.<br>
            Учителем надо будет родиться и только после этого – стать.<br>В нём будет мудрость талантливо-дерзкая,<br>
            Он будет солнце нести на крыле.<br>Учитель – профессия дальнего действия,<br>Главная на Земле!</p><p class="text-right">(Р. Рождественский)</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="padding">
      <p class="text-justify">Другой язык – это другое видение жизни. (Федерико Феллини)</p><hr>
      <p class="text-justify">Знать много языков — значит иметь много ключей к одному замку. (Вольтер)</p><hr>
      <p class="text-justify">Язык — это часть нашего организма и не менее сложная, чем сам этот организм. (Людвиг Витгенштейн)</p><br>
        </div>
    </div>
</div>




<p><img src="{% static 'mainApp/image/gt.png' %}" alt="" width="100%"></p>
    <br>







<div class="container">
<div class="row">
    <div class="col-md-4">
        <div class="text-center">
        <a href="https://minobr.su/" class="display:block"><img src="{% static 'mainApp/image/logo_22.png' %}" style='max-width:80%; height:auto;' class="center"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <a href="http://rcro.su/" class="center"><img src="{% static 'mainApp/image/logo_31.png' %}" style='max-width:80%; height:auto;' class="center"></a>
        </div>
    </div>
    <div class="col-md-4">
        <div class="text-center">
            <a href="https://agonufrienko.wixsite.com/ag09" class="center"><img src="{% static 'mainApp/image/logo_44.png' %}" style='max-width:80%; height:auto;' class="center"></a>
        </div>
    </div>
</div>
</div>
<br><br>
{% endblock %}